Repository girafeev1/ArtifactoftheEstablisher, changes with the labels that .github/labeler.yml gives for each.
All labels: context, frontend, backend, ci

.github/labeler.yml:

context:
  - "docs/context/**"
  - "context-bundle.md"

frontend:
  - "components/**"
  - "pages/**"
  - "app/**"
  - "**/*.tsx"
  - "**/*.ts"

backend:
  - "lib/**"
  - "api/**"
  - "server/**"
  - "**/*.ts"

ci:
  - ".github/workflows/**"

style: tighten project dialogs and disable auto deploy
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  pages/dashboard/businesses/projects-database/window.tsx
Labels: frontend

style: align project detail header layout
  components/projectdialog/ProjectDatabaseDetailContent.tsx
Labels: frontend

style: align project detail header layout
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
Labels: frontend

style: improve project dialog header and font switching
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  components/projectdialog/ProjectDatabaseEditDialog.tsx
  lib/projectsDatabase.ts
  pages/_app.tsx
  styles/project-dialog.css
Labels: frontend, backend

feat(projects): polish detail windows and typography
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
  pages/_app.tsx
  pages/dashboard/businesses/projects-database/window.tsx
  styles/project-dialog.css
Labels: frontend

feat(projects): add resizable create dialog and API
  components/projectdialog/ProjectDatabaseCreateDialog.tsx
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
  components/projectdialog/ProjectDatabaseEditDialog.tsx
  components/projectdialog/ProjectDatabaseWindow.tsx
  components/projectdialog/projectFormUtils.ts
  lib/projectsDatabase.ts
  pages/api/projects-database/[year]/index.ts
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/new-window.tsx
Labels: frontend, backend

feat(projects): refine typography and create defaults
  components/projectdialog/ProjectDatabaseCreateDialog.tsx
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  components/projectdialog/projectFormUtils.ts
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/new-window.tsx
Labels: frontend, backend

chore(vercel): enable git-triggered prod deploys
  .github/workflows/deploy-to-vercel-prod.yml
  vercel.json
Labels: ci

feat(database): add Firestore-backed client and bank pages
  lib/bankAccountsDirectory.ts
  lib/clientDirectory.ts
  pages/dashboard/businesses/client-accounts-database/index.tsx
  pages/dashboard/businesses/company-bank-accounts-database/index.tsx
Labels: frontend, backend

chore(nav): expose Firestore database pages in menu
  components/SidebarLayout.tsx
Labels: frontend

feat(database): align Firestore UI and deploy triggers
  .github/workflows/deploy-to-vercel-prod.yml
  components/SidebarLayout.tsx
  lib/bankAccountsDirectory.ts
  lib/clientDirectory.ts
  pages/dashboard/businesses/client-accounts-database/index.tsx
  pages/dashboard/businesses/company-bank-accounts-database/index.tsx
  vercel.json
Labels: frontend, backend, ci

feat(database): refine bank UI and pay-to labels
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  pages/dashboard/businesses/company-bank-accounts-database/index.tsx
Labels: frontend

chore(firestore): add admin SDK for rename
  components/database/ClientBankDatabasePage.tsx
  components/projectdialog/ProjectDatabaseCreateDialog.tsx
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  lib/clientDirectory.ts
  package-lock.json
  package.json
  pages/dashboard/businesses/client-accounts-database/index.tsx
  pages/dashboard/businesses/company-bank-accounts-database/index.tsx
Labels: frontend, backend

feat(database): firestore client admin and improved UI
  components/clientdialog/NewClientDialog.tsx
  components/database/ClientBankDatabasePage.tsx
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  lib/bankAccountsDirectory.ts
  lib/clientDirectory.ts
  package-lock.json
  package.json
  pages/api/client-directory/[clientId].ts
  pages/api/client-directory/index.ts
  pages/dashboard/businesses/projects-database/[groupId].tsx
Labels: frontend, backend

chore(nav): swap database menu links
  components/SidebarLayout.tsx
  components/projectdialog/ProjectDatabaseDetailContent.tsx
Labels: frontend

feat(projects): replace legacy page with firestore version
  components/SidebarLayout.tsx
  components/projectdialog/ProjectDatabaseCreateDialog.tsx
  components/projectdialog/ProjectDatabaseEditDialog.tsx
  pages/api/projects/[year]/[projectId].ts
  pages/api/projects/[year]/index.ts
  pages/dashboard/businesses/[fileId].tsx
  pages/dashboard/businesses/index.tsx
  pages/dashboard/businesses/projects/[groupId].tsx
  pages/dashboard/businesses/projects/index.tsx
  pages/dashboard/businesses/projects/new-window.tsx
  pages/dashboard/businesses/projects/window.tsx
Labels: frontend, backend

chore(ui): add refine sandbox placeholder
  components/SidebarLayout.tsx
  pages/dashboard/new-ui.tsx
Labels: frontend

feat(refine): add client accounts preview
  package-lock.json
  package.json
  pages/api/client-directory/index.ts
  pages/dashboard/new-ui/client-accounts.tsx
  pages/dashboard/new-ui/index.tsx
Labels: frontend, backend

fix(refine): adjust dependencies and lint ignores
  .eslintignore
  eslint.config.mjs
  package-lock.json
  package.json
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend

style(refine): restyle client accounts preview
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend

fix(refine): stabilize search gallery hooks
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend

feat(auth): integrate firebase authentication with nextauth
  components/SidebarLayout.tsx
  lib/firebaseAdmin.ts
  lib/firebaseClientAuth.ts
  package-lock.json
  package.json
  pages/api/auth/[...nextauth].ts
  pages/auth/signin.tsx
Labels: frontend, backend

fix(auth): update redirects to custom signin page
  pages/dashboard/businesses/client-accounts-database/index.tsx
  pages/dashboard/businesses/company-bank-accounts-database/index.tsx
  pages/dashboard/businesses/index.tsx
  pages/dashboard/businesses/projects/[groupId].tsx
  pages/dashboard/businesses/projects/new-window.tsx
  pages/dashboard/businesses/projects/window.tsx
  pages/dashboard/new-ui/index.tsx
Labels: frontend

Improve Firebase sign-in diagnostics
  pages/api/auth/[...nextauth].ts
  pages/auth/signin.tsx
Labels: frontend, backend

Add Firebase admin diagnostics for credential failures
  lib/firebaseAdmin.ts
  pages/api/auth/[...nextauth].ts
  pages/api/auth/firebase-diagnostics.ts
  pages/auth/signin.tsx
Labels: frontend, backend

Fix Firebase diagnostics union narrowing
  lib/firebaseAdmin.ts
  pages/api/auth/[...nextauth].ts
  pages/api/auth/firebase-diagnostics.ts
  pages/auth/signin.tsx
Labels: frontend, backend

Improve credentials diagnostics on sign-in
  __tests__/pages/auth/signin.test.tsx
  pages/auth/signin.tsx
Labels: frontend

Harden Firebase diagnostics handling
  __tests__/pages/auth/signin.test.tsx
  pages/auth/signin.tsx
Labels: frontend

Allow Refine preview when session lacks access token
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend

Guard Firebase config logging in development
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend, backend

Add NextAuth diagnostics endpoint for credential failures
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend, backend

Add Refine layout chrome to client accounts preview
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend, backend

Fix Refine menu typings
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend, backend

Rebuild client accounts preview with Ant Design layout
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend, backend

Fix client accounts build regressions
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
Labels: frontend, backend

fix: bundle antd reset css locally
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
  styles/antd-reset.css
Labels: frontend, backend

Fix client accounts build by patching classnames import meta
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
  scripts/replaceImportMetaLoader.js
  styles/antd-reset.css
Labels: frontend, backend

Guard classnames HMR rewrite for module availability
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/firebase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
  scripts/replaceImportMetaLoader.js
  styles/antd-reset.css
Labels: frontend, backend

Add Firestore diagnostics logging
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/clientDirectory.ts
  lib/firebase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/api/client-directory/index.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
  scripts/replaceImportMetaLoader.js
  styles/antd-reset.css
Labels: frontend, backend

Improve client accounts diagnostics logging
  __tests__/pages/auth/signin.test.tsx
  __tests__/pages/dashboard/new-ui/client-accounts.test.tsx
  lib/clientDirectory.ts
  lib/firebase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/nextauth-credentials-diagnostics.ts
  pages/api/client-directory/index.ts
  pages/auth/signin.tsx
  pages/dashboard/new-ui/client-accounts.tsx
  scripts/replaceImportMetaLoader.js
  styles/antd-reset.css
Labels: frontend, backend
