Repository girafeev1/ArtifactoftheEstablisher, changes with the labels that .github/labeler.yml gives for each.
All labels: context, frontend, backend, ci

.github/labeler.yml:

context:
  - "docs/context/**"
  - "context-bundle.md"

frontend:
  - "components/**"
  - "pages/**"
  - "app/**"
  - "**/*.tsx"
  - "**/*.ts"

backend:
  - "lib/**"
  - "api/**"
  - "server/**"
  - "**/*.ts"

ci:
  - ".github/workflows/**"

Create ci.yml
  .github/workflows/ci.yml
Labels: ci

Create labeler.yml
  .github/workflows/labeler.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update pr-diff-refresh.yml
  .github/workflows/pr-diff-refresh.yml
Labels: ci

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update pr-diff-refresh.yml
  .github/workflows/pr-diff-refresh.yml
Labels: ci

Update pr-diff-archive-on-merge.yml
  .github/workflows/pr-diff-archive-on-merge.yml
Labels: ci

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

Delete .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: ci

Delete .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
Labels: ci

Delete .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: ci

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

Update pr-diff-refresh.yml
  .github/workflows/pr-diff-refresh.yml
Labels: ci

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

docs(task-log): revise task status
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.js
  cypress/e2e/payment_metadata.cy.ts
  docs/task-log-vol-1.md
  lib/payments/format.test.ts
  lib/payments/format.ts
  lib/payments/index.ts
  lib/payments/truncate.test.ts
  lib/payments/truncate.ts
  prompts/p-024.md
  styles/studentDialog.css
Labels: frontend, backend

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

docs(task-log): update Latest, T-080, and P-024
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.js
  cypress/e2e/payment_metadata.cy.ts
  docs/task-log-vol-1.md
  jest.config.cjs
  lib/payments/format.test.ts
  lib/payments/format.ts
  lib/payments/index.ts
  lib/payments/truncate.test.ts
  lib/payments/truncate.ts
  package-lock.json
  package.json
  prompts/p-024.md
  styles/studentDialog.css
Labels: frontend, backend

docs(task-log): update Latest, T-080–T-081, and P-025
  components/StudentDialog/BaseRateHistoryDialog.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.js
  cypress/e2e/payment_metadata.cy.ts
  docs/Task Log.md
  jest.config.cjs
  lib/payments/format.test.ts
  lib/payments/format.ts
  lib/payments/index.ts
  lib/payments/truncate.test.ts
  lib/payments/truncate.ts
  package-lock.json
  package.json
  prompts/p-024.md
  prompts/p-025.md
  styles/studentDialog.css
Labels: frontend, backend

docs: remove docs/task-log-vol-1.md (canonical is docs/Task Log.md)
  docs/Task Log.md
  prompts/tasklog-update-p-025.md
Labels: none

feat(payment): finalize sticky footer, cascade add payment
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.ts
  docs/Task Log.md
  prompts/p-026.md
Labels: frontend, backend

Update pr-diff-file.yml
  .github/workflows/pr-diff-file.yml
Labels: ci

chore(prompts): archive Task Log update after p-025
  docs/Task Log.md
  prompts/tasklog-update-after-p025.md
Labels: none

chore(prompts): archive Task Log update after p-025
  docs/Task Log.md
  prompts/tasklog-update-after-p025.md
Labels: none

feat(payment): finalize P-026 follow-up
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.ts
  docs/Task Log.md
  prompts/P-026-01r.md
  prompts/p-026.md
Labels: frontend, backend

Update deploy-to-vercel-prod.yml
  .github/workflows/deploy-to-vercel-prod.yml
Labels: ci

feat(payment): add bank label fallback and log P-026-02r
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.ts
  docs/Task Log.md
  prompts/P-026-01r.md
  prompts/p-026-02r.md
  prompts/p-026.md
Labels: frontend, backend

feat(payment): finalize cascade with ERL entity label
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/payment_metadata.cy.ts
  docs/Task Log.md
  prompts/P-026-01r.md
  prompts/p-026-02r.md
  prompts/p-026-03r.md
  prompts/p-026.md
Labels: frontend, backend

docs(task-log): reconcile P-024/025/026 status; add recent bullets; normalize prompts table
  docs/Task Log.md
  docs/archive/prompts/p-014.md
  docs/archive/prompts/p-015.md
  docs/archive/prompts/p-016.md
  docs/archive/prompts/p-017.md
  docs/archive/prompts/p-018.md
  docs/archive/prompts/p-019.md
  docs/archive/prompts/p-020.md
  docs/archive/prompts/p-021.md
  docs/archive/prompts/p-022.md
  docs/archive/prompts/p-023.md
  prompts/P-026-01r.md
  prompts/p-024.md
  prompts/p-025.md
  prompts/p-026-01r.md
  prompts/p-026-02r.md
  prompts/p-026-03r.md
  prompts/p-026.md
  prompts/p-tasklog-P-021.md
  prompts/p-tasklog-P-023.md
  prompts/tasklog-update-after-p025.md
  prompts/tasklog-update-p-025.md
Labels: none

chore: add prompt p-027
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/payments/format.test.ts
  lib/payments/format.ts
  prompts/p-027.md
Labels: frontend, backend

test(erlDirectory): cover bank fetch fallback
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/erlDirectory.test.ts
  lib/payments/format.test.ts
  lib/payments/format.ts
  prompts/p-027-01r.md
  prompts/p-027.md
Labels: frontend, backend

chore: add prompt and tests
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/billing/formatSessions.test.ts
  lib/billing/minUnpaidRate.test.ts
  lib/billing/paymentBlink.test.ts
  lib/billing/paymentBlink.ts
  lib/billing/paymentIdentifier.test.ts
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  lib/payments/format.test.ts
  lib/payments/format.ts
  prompts/p-027-02r.md
  styles/studentDialog.css
Labels: frontend, backend

docs: update Task Log for PR #225
  docs/Task Log.md
  prompts/tasklog-update-after-p027-02r.md
Labels: none

feat: improve payment UI and add prompt badge
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  jest.config.cjs
  lib/erlDirectory.test.ts
  lib/promptId.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-03r.md
  tsconfig.jest.json
Labels: frontend, backend

test: add component and sort tests
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/SessionsTab.tsx
  lib/promptId.ts
  lib/sessionsSort.test.ts
  lib/sessionsSort.ts
  pages/dashboard/businesses/coaching-sessions.test.tsx
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-04r.md
Labels: frontend, backend

docs(task-log): refresh chalkboard; set realistic states; queue P-027-04r (single source only)
  docs/Task Log.md
Labels: none

test: add component and sort tests
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/SessionsTab.tsx
  lib/promptId.ts
  lib/sessionsSort.test.ts
  lib/sessionsSort.ts
  pages/dashboard/businesses/coaching-sessions.test.tsx
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-04r.md
Labels: frontend, backend

fix: remove undefined identifier setter
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/SessionsTab.tsx
  lib/promptId.ts
  lib/sessionsSort.test.ts
  lib/sessionsSort.ts
  pages/dashboard/businesses/coaching-sessions.test.tsx
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-04r.md
Labels: frontend, backend

test: move coaching sessions page test
  __tests__/pages/dashboard/businesses/coaching-sessions.test.tsx
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/SessionsTab.tsx
  lib/promptId.ts
  lib/sessionsSort.test.ts
  lib/sessionsSort.ts
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-04r.md
Labels: frontend, backend
