Repository girafeev1/ArtifactoftheEstablisher, changes with the labels that .github/labeler.yml gives for each.
All labels: context, frontend, backend, ci

.github/labeler.yml:

context:
  - "docs/context/**"
  - "context-bundle.md"

frontend:
  - "components/**"
  - "pages/**"
  - "app/**"
  - "**/*.tsx"
  - "**/*.ts"

backend:
  - "lib/**"
  - "api/**"
  - "server/**"
  - "**/*.ts"

ci:
  - ".github/workflows/**"

feat: auto prompt badge and cascade fixes
  __tests__/pages/dashboard/businesses/coaching-sessions.test.tsx
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/SessionsTab.tsx
  lib/promptId.test.ts
  lib/promptId.ts
  lib/sessionsSort.test.ts
  lib/sessionsSort.ts
  pages/_app.tsx
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-04r.md
  prompts/p-027-05r.md
Labels: frontend, backend

test(payment): add modal cascade cypress tests and align card footer
  __tests__/pages/dashboard/businesses/coaching-sessions.test.tsx
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/SessionsTab.tsx
  cypress/e2e/add_payment_cascade.cy.tsx
  cypress/e2e/payment_metadata.cy.ts
  lib/promptId.test.ts
  lib/promptId.ts
  lib/sessionsSort.test.ts
  lib/sessionsSort.ts
  pages/_app.tsx
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-04r.md
  prompts/p-027-05r.md
  prompts/p-027-06r.md
Labels: frontend, backend

Update context-bundle-pr.yml
  .github/workflows/context-bundle-pr.yml
Labels: ci

Update deploy-to-vercel-prod.yml
  .github/workflows/deploy-to-vercel-prod.yml
Labels: ci

docs: add prompt P-027-07r
  prompts/p-027-07r.md
Labels: none

Create e2e-on-deploy.yml
  .github/workflows/e2e-on-deploy.yml
Labels: ci

Create .npmrc
  .npmrc
Labels: none

Update package.json
  package.json
Labels: none

chore(prompt): add p-027-08r
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  pages/dashboard/businesses/coaching-sessions.tsx
  prompts/p-027-08r.md
Labels: frontend, backend

chore: add P-027-09r prompt for multi-code banks
  prompts/p-027-09r.md
Labels: none

feat(payment): support multi-code banks with parenthesized path
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/add_payment_cascade.cy.tsx
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  lib/payments/format.test.ts
  prompts/p-027-09r.md
Labels: frontend, backend

test(billing): cover payment history columns
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.test.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  cypress/e2e/add_payment_cascade.cy.tsx
  lib/columnPrefs.ts
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  lib/paths.ts
  pages/dashboard/businesses/coaching-sessions.tsx
  styles/studentDialog.css
Labels: frontend, backend

docs: add p-028-01r prompt
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/RetainersTab.tsx
  components/StudentDialog/VouchersTab.tsx
  components/StudentDialog/icons.tsx
  prompts/p-028-01r.md
Labels: frontend

feat(payment): helper-only identifier and submit reducer
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/payments/submit.test.ts
  lib/payments/submit.ts
  prompts/p-028-02r.md
  styles/studentDialog.css
Labels: frontend, backend

feat(payment): finalize helper-only cascade
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  lib/payments/submit.test.ts
  lib/payments/submit.ts
  prompts/p-028-02r.md
  styles/studentDialog.css
Labels: frontend, backend

fix: return tuple from buildAccountsPath
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  lib/payments/submit.test.ts
  lib/payments/submit.ts
  prompts/p-028-02r.md
  styles/studentDialog.css
Labels: frontend, backend

feat(payment): show masked account numbers in helper cascade
  components/StudentDialog/PaymentDetail.test.tsx
  components/StudentDialog/PaymentDetail.tsx
  components/StudentDialog/PaymentHistory.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/StudentDialog/PaymentModal.tsx
  lib/erlDirectory.test.ts
  lib/erlDirectory.ts
  lib/payments/submit.test.ts
  lib/payments/submit.ts
  prompts/p-028-02r.md
  styles/studentDialog.css
Labels: frontend, backend

feat: add Firestore-backed projects page
  components/SidebarLayout.tsx
  lib/projectsDatabase.ts
  pages/dashboard/businesses/projects-database.tsx
Labels: frontend, backend

Add Projects (Database) page backed by Firestore
  components/SidebarLayout.tsx
  lib/firebase.ts
  lib/projectsDatabase.ts
  pages/dashboard/businesses/projects-database.tsx
Labels: frontend, backend

Hardcode database projects link on businesses page
  components/SidebarLayout.tsx
  lib/firebase.ts
  lib/projectsDatabase.ts
  pages/dashboard/businesses/index.tsx
  pages/dashboard/businesses/projects-database.tsx
Labels: frontend, backend

Refactor projects database flow with selection step
  components/SidebarLayout.tsx
  lib/firebase.ts
  lib/projectsDatabase.ts
  pages/dashboard/businesses/index.tsx
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/index.tsx
Labels: frontend, backend

Refine projects database selection and list layout
  components/SidebarLayout.tsx
  lib/firebase.ts
  lib/projectsDatabase.ts
  pages/dashboard/businesses/index.tsx
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/index.tsx
Labels: frontend, backend

Recreate projects database flow with Firestore selection
  components/SidebarLayout.tsx
  components/projectdialog/ProjectsDatabaseDialog.tsx
  lib/firebase.ts
  lib/projectsDatabase.ts
  pages/dashboard/businesses/index.tsx
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/index.tsx
Labels: frontend, backend

feat: add firestore-backed project detail dialog
  __tests__/pages/dashboard/businesses/coaching-sessions.test.tsx
  components/StudentDialog/PaymentHistory.test.tsx
  components/StudentDialog/PaymentModal.test.tsx
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
  cypress/e2e/add_payment_cascade.cy.tsx
  jest.config.cjs
  lib/erlDirectory.test.ts
  pages/dashboard/businesses/projects-database/[groupId].tsx
Labels: frontend, backend

fix: guard Cypress reference for next build
  cypress/e2e/add_payment_cascade.cy.tsx
Labels: frontend

fix: relax Cypress type lookup for ci checks
  cypress/e2e/add_payment_cascade.cy.tsx
Labels: frontend

fix: type-safe stubbing helper for cypress specs
  cypress/e2e/add_payment_cascade.cy.tsx
Labels: frontend

fix: replace chai expect usage with manual assertions
  cypress/e2e/add_payment_cascade.cy.tsx
Labels: frontend

feat: add project update logging
  lib/projectsDatabase.ts
  pages/api/projects-database/[year]/[projectId].ts
Labels: frontend, backend

feat: enable firestore project editing and streamline workflows
  .github/workflows/context-bundle-pr.yml
  .github/workflows/deploy-to-vercel-prod.yml
  .github/workflows/pr-diff-file.yml
  .github/workflows/pr-diff-refresh.yml
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
  components/projectdialog/ProjectDatabaseEditDialog.tsx
  pages/dashboard/businesses/projects-database/[groupId].tsx
Labels: frontend, ci

feat: open projects in standalone window with Firestore editing
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/window/[groupToken]/[projectId].tsx
Labels: frontend

refactor: replace project popup route and add selection helper
  .gitignore
  .vercel/README.txt
  .vercel/project.json
  lib/projectsDatabaseSelection.ts
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/window.tsx
  pages/dashboard/businesses/projects-database/window/[groupToken]/[projectId].tsx
Labels: frontend, backend

chore: deploy PR branches directly to production
  .github/workflows/deploy-to-vercel-prod.yml
Labels: ci

fix: restore standalone project window page
  pages/dashboard/businesses/projects-database/window.tsx
Labels: frontend

feat: polish projects database window
  components/StudentDialog/PaymentModal.test.tsx
  cypress/e2e/add_payment_cascade.cy.tsx
  pages/dashboard/businesses/projects-database/window.tsx
Labels: frontend

style: align project window typography
  pages/dashboard/businesses/projects-database/window.tsx
Labels: frontend

feat: show project dialog inline with detach option
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  pages/dashboard/businesses/projects-database/[groupId].tsx
  pages/dashboard/businesses/projects-database/window.tsx
Labels: frontend

refactor: reuse project detail content in dialog
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
  pages/dashboard/businesses/projects-database/[groupId].tsx
Labels: frontend

feat: refine project dialog header and layout
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  components/projectdialog/ProjectDatabaseDetailDialog.tsx
  pages/dashboard/businesses/projects-database/window.tsx
Labels: frontend

style: tighten project detail header and layout
  components/projectdialog/ProjectDatabaseDetailContent.tsx
  pages/dashboard/businesses/projects-database/window.tsx
  vercel.json
Labels: frontend
